.banner {
  width: 100%;
  height: 490px;
  background: url(../img/cooperation.png) no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 350px;
  box-sizing: border-box; }
  .banner a {
    width: 140px;
    height: 40px;
    display: block;
    border: 2px solid #fff;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 3px; }

h5 {
  font-family: PingFangSC-Medium;
  font-size: 28px;
  color: #333;
  letter-spacing: 0;
  text-align: center;
  margin-top: 80px; }

p.title {
  font-size: 20px;
  color: #999;
  text-align: center;
  font-weight: 300;
  margin-top: 10px; }

.advantage {
  width: 1200px;
  height: 300px;
  margin: 0 auto; }
  .advantage ul {
    margin-top: 60px; }
    .advantage ul li {
      width: 14.2%;
      text-align: center;
      font-size: 16px;
      color: #333;
      float: left; }
      .advantage ul li img {
        display: block;
        height: 90px;
        margin: 20px auto; }

.income {
  width: 1200px;
  height: 500px;
  margin: 0 auto; }
  .income ul {
    margin-top: 120px; }
    .income ul li {
      display: block;
      float: left;
      height: 300px;
      width: 20%;
      text-align: center;
      padding-top: 50px;
      box-sizing: border-box;
      position: relative; }
      .income ul li:after {
        content: "+";
        font-size: 48px;
        color: #5c5c66;
        position: absolute;
        top: 80px;
        right: -10px;
        margin: auto; }
      .income ul li.equal:after {
        content: "="; }
      .income ul li:last-child {
        width: 200px;
        background-image: linear-gradient(-45deg, #f53a3a 0, #fda46b 100%), linear-gradient(#fb875e, #fb875e);
        background-blend-mode: normal,normal;
        border-radius: 3px;
        float: right; }
        .income ul li:last-child:after {
          display: none; }
        .income ul li:last-child span {
          font-size: 18px;
          color: #fff;
          margin-top: 52px;
          display: block; }
      .income ul li img {
        display: block;
        margin: 0 auto;
        margin-bottom: 35px; }
      .income ul li span {
        font-size: 18px;
        color: #5c5c66; }

.sqflow {
  width: 1200px;
  height: 350px;
  margin: 0 auto; }
  .sqflow ul {
    margin-top: 80px; }
    .sqflow ul li {
      width: 25%;
      display: block;
      float: left;
      position: relative; }
      .sqflow ul li:after {
        content: "";
        width: 80px;
        height: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -35px;
        margin: auto;
        background: url(../img/sqflow05.png) no-repeat;
        background-position: right center;
        background-size: 70px; }
      .sqflow ul li:last-child:after {
        display: none; }
      .sqflow ul li img {
        width: 250px;
        display: block;
        margin: 0 auto; }

.formbox {
  background: url(../img/map.png) no-repeat;
  background-position: center center;
  background-size: 900px; }

.form {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px; }
  .form ul {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left; }
    .form ul:after {
      content: "";
      clear: both;
      display: block; }
    .form ul li {
      width: 40%;
      margin: 0 auto;
      float: left;
      margin-left: 10%;
      margin-bottom: 30px; }
    .form ul p {
      font-size: 18px;
      color: #333; }
    .form ul input {
      width: 100%;
      height: 50px;
      border-radius: 5px;
      outline: none;
      border: 1px solid #b8b8b8;
      margin-top: 20px;
      font-size: 14px;
      padding-left: 20px;
      box-sizing: border-box; }
  .form div {
    display: inline-block;
    font-size: 14px;
    padding: 10px 42px;
    border-radius: 2px;
    border: 1px solid #10c55b;
    color: #10c55b;
    margin: 20px auto;
    margin-left: 90px;
    cursor: pointer; }
    .form div:hover {
      background: #10c55b;
      color: #fff; }
