* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

.headerBox {
  background: #ffffff;
  border-bottom: 1px solid #ededed;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1); }
  .headerBox .header {
    width: 1200px;
    height: 70px;
    margin: 0 auto; }
    .headerBox .header:after {
      content: "";
      clear: both;
      display: block; }
  .headerBox .logo {
    width: 170px;
    padding-top: 10px;
    box-sizing: border-box;
    float: left; }
    .headerBox .logo a {
      display: block; }
      .headerBox .logo a img {
        width: 100%; }
  .headerBox .nav {
    width: 826px;
    float: right; }
    .headerBox .nav:after {
      content: "";
      clear: both;
      display: block; }
    .headerBox .nav .navlist {
      float: left;
      line-height: 70px; }
      .headerBox .nav .navlist li.active a {
        color: #10c55b; }
      .headerBox .nav .navlist li {
        display: inline-block;
        font-size: 14px;
        padding: 0 40px; }
        .headerBox .nav .navlist li a {
          color: #2c3a46; }
          .headerBox .nav .navlist li a:hover {
            color: #10c55b; }
    .headerBox .nav .login {
      float: right;
      margin-right: 80px;
      padding-top: 20px;
      box-sizing: border-box; }
      .headerBox .nav .login a {
        width: 80px;
        height: 30px;
        line-height: 28px;
        display: inline-block;
        border: 1px solid #10C555;
        color: #10C555;
        text-align: center;
        border-radius: 2px;
        box-sizing: border-box; }
        .headerBox .nav .login a:hover {
          background: #10C555;
          color: #fff; }
        .headerBox .nav .login a:last-child {
          background: #10C555;
          color: #fff;
          margin-left: 20px; }
